      /*
    For @Dohaaa0268 by @addsoupbase
        */
      :root {
          --_RED-1: #EEBAB7;
          --_RED-2: #E68A8D;
          --_RED-3: #C96068;
          --_RED-4: #AB4543;
          --_RED-5: #9B4443;

          --_ORANGE-1: #EEE1B7;
          --_ORANGE-2: #E6B58A;
          --_ORANGE-3: #C98860;
          --_ORANGE-4: #AB7543;
          --_ORANGE-5: #9B6B43;

          --_YELLOW-1: #EEE1B7;
          --_YELLOW-2: #E6CB8A;
          --_YELLOW-3: #C9AF60;
          --_YELLOW-4: #AB9943;
          --_YELLOW-5: #9B8943;

          --_GREEN-1: #E1E9B7;
          --_GREEN-2: #BDD299;
          --_GREEN-3: #7A9B57;
          --_GREEN-4: #5E7F19;
          --_GREEN-5: #466D1D;

          --_BLUE-1: #A8C7D6;
          --_BLUE-2: #84AABC;
          --_BLUE-3: #5C93AA;
          --_BLUE-4: #4B7A90;
          --_BLUE-5: #355C7D;

          --_PURPLE-1: #A8AFD6;
          --_PURPLE-2: #848EBC;
          --_PURPLE-3: #5C6BAA;
          --_PURPLE-4: #4B5390;
          --_PURPLE-5: #35387D;

          --_CREAMY-BERRY: hsl(324, 33%, 72%);
          --_SALMON-GLOW: hsl(9, 73%, 51%);
          --_CREAM-PUFF: hsl(18, 96%, 60%);

          --_DEEP-AQUA: #003B46;
          --_OCEAN: #07575B;
          --_WAVE: #66A5AD;
          --_SEAFOAM: #C4DFE6;

          --_WHITE-1: #F8F8F5;
          --_WHITE-2: #F7F4EC;
          --_WHITE-3: #EEF2F5;
          --_WHITE-4: #F2EDF5;
          --_WHITE-5: #FAF0E0;
          --_WHITE-6: #E8F4F5;
          --_WHITE-7: #EEF0FA;
          --_WHITE-8: #c0c1c9;
          font-family: pixel1, monospace;
          padding: 0;
          margin: 0
      }


      #about {
          background-image: url("media/sticker/clapper.png"), url("media/sticker/film.png"), url("media/sticker/ticket.png");
          background-image: image-set(url("media/sticker/clapper.webp") type("image/webp"), url("media/sticker/clapper.png") type("image/png")),
              image-set(url("media/sticker/film.webp") type("image/webp"), url("media/sticker/film.png") type("image/png")),
              image-set(url("media/sticker/ticket.webp") type("image/webp"), url("media/sticker/ticket.png") type("image/png"));
          background-size: 360px 360px, 230px 230px, 350px 350px;
          background-attachment: local;
          background-position: -100px 100px, calc(100% + 20px) 310px, calc(100% + 90px) -10px;
          background-repeat: no-repeat
      }

      ul {
          text-align: left;
          justify-self: center;
      }

      ul li {
          margin-block: 10px
      }

      cite {
          font-style: unset;
          font-weight: bold;
      }

      #vinyl {
          width: 50%;
          height: auto;
          max-width: 200px;
          margin: auto;
          border-radius: 100%;
          display: block;
          place-self: center;
          border-radius: 100%;
          shape-outside: circle(100%);
          --tap-highlight-color: rgba(255, 0, 0, 0.18);
          animation: spin 8s linear infinite;
          animation-play-state: paused;
      }

      #vinyl[aria-pressed="true"] {
          animation-play-state: running;
      }

      #background {
          /* background-color: #3e79dd; */
          background-repeat: repeat-x, repeat-x, repeat-x;
          background-size: auto 50vh;
          /* background-size: max(60vw, 2048px) 50vh, 20vw 50vh, 20vw 50vh; */
          background-image: url(media/foreground-merged.png), url(media/sand.png), url(media/far.png);
          background-image: image-set(url(media/foreground-merged.webp) type("image/webp"), url(media/foreground-merged.png) type("image/png")), image-set(url(media/sand.webp) type("image/webp"), url(media/sand.png) type("image/png")), image-set(url(media/far.webp) type("image/webp"), url(media/far.png) type("image/png"));
          image-rendering: pixelated;
          background-position-y: bottom;
          --layer1: 0%;
          --layer2: 0%;
          --layer3: 0%;
          background-attachment: fixed;
          background-position-x: var(--layer1), var(--layer2), var(--layer3);
      }

      /*:return `layer1 layer2 layer3`.split(' ')
        .map(o=>`@property --${o} {
            syntax: "<percentage>";
            initial-value: 0%;
            inherits: false;
        }`).join('\n')*/
      #background,
      #overlay {
          position: fixed;
          z-index: 0;
          position: fixed;
          width: 100vw;
          height: 100vh;
          overflow: hidden
      }

      @media (prefers-reduced-motion: no-preference) {
          #background {
              will-change: background-position-x;
              animation: layer1 41s ease-out alternate-reverse infinite,
                  layer2 90s ease-out alternate-reverse infinite,
                  layer3 150s ease-out alternate-reverse infinite
          }

          /*:return `layer1 layer2 layer3`.split(' ')
            .map((o, i)=>`@keyframes ${o} {
                0% {
                    --${o}: 0%;
                }

                100% {
                    --${o}: 100%;
                }
            }`).join('\n')*/
      }

      @keyframes offset {
          0% {
              offset-distance: 0%;
          }

          100% {
              offset-distance: 100%;
          }
      }

      #overlay {
          background-color: rgba(0, 51, 255, 0.192);
      }

      #poster {
          cursor: pointer;
      }

      .drawMeSomething::after,
      .drawMeSomething::before {
          filter: hue-rotate(270deg);
          background-image: url(https://addsoupbase.github.io/cute-emojis/emojis/11246-purplecrayon.gif);
          content: '' / "Pencil";
          height: 30px;
          width: 30px;
          position: relative;
          margin-left: 5px;
          margin-right: 5px;
          background-size: contain;
          display: inline-block;
      }

      .drawMeSomething {
          font-size: 1.2em;
          align-items: center;
      }

      .drawMeSomething::before {
          transform: scaleX(-1)
      }

      @keyframes backnforth {
          0% {
              left: -40%;
          }

          100% {
              left: 40%;
          }
      }

      .dragon {
          transition: transform .3s ease;
          position: relative;
          animation: backnforth 5s linear infinite alternate
      }

      input {
          justify-self: center;
          caret-color: var(--_SEAFOAM);
          accent-color: var(--_SEAFOAM);
      }

      button[data-transitions][aria-selected="true"] {
          filter: brightness(70%);
          border-style: inset;
      }

      .jellyfish::before,
      .jellyfish::after {
          background-image: url(https://addsoupbase.github.io/cute-emojis/emojis/1225795001838211134.gif);
          content: '' / "Jellyfish";
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          image-rendering: pixelated;
          height: 25px;
          margin-left: 10px;
          margin-right: 10px;
          background-size: cover;
      }

      .jellyfish::after {
          transform: scaleX(-1)
      }

      @font-face {
          font-family: "pixel1";
          src: url('./fonts/pixel1.woff2') format('woff2'), url('./fonts/pixel1.woff') format('woff'), url('./fonts/pixel1.ttf') format('ttf');
          font-display: swap;
      }

      img {
          --user-select: none
      }

      @font-face {
          font-family: "pixel2";
          src: url("./fonts/pixel2.woff2") format("woff2"), url("./fonts/pixel2.woff") format("woff"), url("./fonts/pixel2.ttf") format("ttf");
          font-weight: normal;
          font-style: normal;
          font-display: swap;

      }

      @supports (not (anchor-name: --corners)) or (-webkit-touch-callout: none) {
          .anchor {
              display: none !important;
          }
      }

      *,
      ::before,
      ::after {
          box-sizing: border-box;
      }

      #frameholder {
          /* margin-top: 5px; */
          max-height: 80vh;
          scroll-behavior: smooth;

          /* min-height: 700px; */
          anchor-name: --corners;
          /* overflow: hidden; */
      }

      #stuff {
          width: 720px;
          min-height: 60px;
          display: flex;
          overflow-y: hidden;
          max-width: 90vw;
          overflow-x: auto;
          scrollbar-width: thin;
          anchor-name: --corners-bottom
      }

      .anchor2 {
          position-anchor: --corners-bottom;
      }

      .anchor1 {
          position-anchor: --corners;
      }

      .anchor {
          position: fixed;
          --size: 15px;
          rotate: 15deg;
          --user-select: none;
      }

      #topright {
          left: calc(anchor(right) - var(--size));
          top: calc(anchor(top) - var(--size));
          transform: scaleY(-1);
      }

      #bottomleft {
          left: calc(anchor(left) - var(--size));
          top: calc(anchor(bottom) - var(--size));
          transform: scaleX(-1)
      }

      #topleft {
          left: calc(anchor(left) - var(--size));
          top: calc(anchor(top) - var(--size));
          /* transform: scaleX(-1) */
      }

      #bottomright {
          left: calc(anchor(right) - var(--size));
          top: calc(anchor(bottom) - var(--size));
          transform: scale(-1, -1);
      }

      .sprite {
          image-rendering: pixelated;
      }

      .purple {
          background-color: var(--_CREAMY-BERRY);
          border: 5px groove var(--_PURPLE-3);
          /* border-radius: 5px; */
      }

      .purple2 {
          background-color: rgba(173, 173, 173, 0.96);
          border: 5px groove rgba(86, 86, 86, 0.96);
          /* border-radius: 5px; */
      }

      .avatar {
          border-radius: 100%;
          margin: 10px
      }

      progress {
          accent-color: var(--_WAVE);
          cursor: pointer
      }

      .star {
          contain: content;
          background-size: contain;
          width: 30px;
          image-rendering: pixelated;
          height: 30px;
          background-size: contain;
          position: fixed;
          filter: grayscale(1) brightness(3);
          background-image: url(media/corner.gif)
      }

      .glow {
          filter: drop-shadow(0px 0px 10px var(--_BLUE-5))
      }

      @supports (-webkit-touch-callout: initial) {
          .glow {
              filter: none
          }
      }

      @keyframes toTop {
          0% {
              translate: 0 calc(0vh + 128px)
          }

          100% {
              translate: 0 calc(-100vh - 128px)
          }
      }

      .obj {
          offset-rotate: 0deg;
          will-change: offset-distance;
          position: absolute;
      }

      .creature {
          animation: offset 27s linear 1;
      }

      .cr-school,
      .cr-octopus2 {
          scale: .3 .3
      }

      .cr-manta {
          scale: .6 .6
      }

      :has(.cr-manta, .cr-octopus2, .cr-school) {
          animation-duration: 30s;
      }

      .jelly {
          background-size: cover;
          image-rendering: pixelated;
          /* background-size: contain; */
          background-repeat: no-repeat;
          width: 128px;
          height: 128px;
          /* bottom: 128px; */
          z-index: 0;
          /* --zoom: .5; */
          transform: scale(0.5, 0.5);
          /* transform: scale(.5); */
          animation: 1s ease-in-out 0s infinite alternate-reverse both running wiggle, slideshow 700ms steps(7, end) infinite, offset 10s linear 1;
      }

      @keyframes wiggle {
          0% {
              translate: -10px 0;
          }

          100% {
              translate: 10px 0;
          }
      }

      .mv {
          display: contents;
          text-decoration: none;
      }

      body,
      html {
          background-color: #3e79dd;
          view-transition-name: none;
      }

      .container {
          --scrollbar-color: var(--_WHITE-2);
          --scrollbar-thumb-color: gray;
          scrollbar-width: thin;
          box-shadow: 0px 0px 10px var(--_WHITE-6);
          word-break: break-word;
          overflow-y: auto;
          padding: 8px;
          width: 720px;
          border-radius: 2px;
          max-width: 90vw;
          height: 570px;
          /* max-height: 1vh; */
      }

      #music {
          width: 100%;
          height: 100%;
      }

      /*:
      // causes syntax error in editor but is still parsed correctly
      return`@supports (background-image: -moz-element(#a)) or (background: -webkit-canvas(a)) {
          #music {
              align-content: center;
          }
      }`
      */
      #musicstatus {
          color: black;
          text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
      }

      #dohr {
          object-position: 0 -40px;
          min-width: 300px;
          margin-block: -40px;
          height: auto;
          width: 60%;
          float: left;
          pointer-events: none;
          filter: brightness(1.1) drop-shadow(8px 8px 1px rgba(0, 0, 0, 0.564))
      }

      @media screen and (width <=480px) {
          #dohr {
              float: none;
          }
      }

      .button::first-letter {
          text-decoration: underline;
      }

      #afterfloat {
          /* text-align: left; */
          margin: 0;
      }

      @media screen and (width <=666px) {
          #afterfloat {
              text-align-last: center;
          }
      }

      .button {
          --tap-highlight-color: rgba(140, 91, 193, 0.3);
          line-height: inherit;
          word-break: break-all;
          word-wrap: break-word;
          background-color: var(--_WHITE-3);
          border: 3px outset var(--_WHITE-8);
          display: inline-block;
          text-align: center;
          padding: 3px;
          --touch-callout: none;
          font-family: "pixel2", monospace;
          /* text-transform: uppercase; */
          letter-spacing: 1px;
          text-decoration: dashed;
          color: black;
          font-size: 1.4em;
          padding-right: 1px;
          margin: 5px;
          filter: brightness(90%);
          --user-select: none;
          transition: background-color .1s LINEAR, transform .2s ease, filter .1s LINEAR;
      }

      @media screen and (width <=392px) {
          #stuff {
              font-size: smaller;
              place-content: space-around;
          }
      }

      @media screen and (width <=347px) {
          #stuff {
              font-size: 12px;
          }
      }

      .button:hover {
          background-color: var(--_WHITE-3);
          filter: brightness(80%);
      }

      .button:active {
          transform: scale(0.96, 0.96)
      }

      .drawing {
          outline: 1px solid black;
          /* width: 300px; */
          box-sizing: content-box;
          max-width: fit-content;
          margin-top: 5px;
          width:250px;
          height:auto;
          max-width: 70vw;
          margin-bottom: 5px;
          background-color: white;
      }

      .drawingdate {
          text-decoration: none;
          display: inline-grid;
          margin: 5px;
      }

      main {
          width: 100%;
          place-self: center;
          place-content: center;
          place-items: center;
          text-align: center;
          height: 100%;
      }

      @media (prefers-reduced-motion: no-preference) {

          ::view-transition-old(topic) {
              animation: dustOut 0.6s ease-out forwards;
          }

          ::view-transition-new(topic) {
              animation: dustIn 0.6s ease-out forwards;
          }
      }

      #drawings:empty::after {
          content: "Loading...";
          text-align: center;
          display: block;
      }



      @keyframes dustOut {
          from {
              opacity: 1;
              transform: scale(1);
              /* filter: brightness(1); */
          }

          50% {
              /* filter: brightness(0.8) saturate(0.5); */
          }

          to {
              opacity: 0;
              transform: scale(0.8);
              /* filter: brightness(0) saturate(0); */
          }
      }

      .star_rate {
          filter: grayscale(1) brightness(90%);
          font-size: 2em;
          margin-inline: 3px;
      }

      .star_rate:is(:hover, :focus, :has(~ .star_rate:is(:hover, :focus))) {
          filter: grayscale(0)
      }

      .star_rate:active {
          scale: .1 .1
      }

      @keyframes dustIn {
          from {
              opacity: 0;
              transform: scale(0.8);
              /* filter: brightness(0) saturate(0); */
          }

          50% {
              /* filter: brightness(1.2) saturate(1.5); */
          }

          to {
              opacity: 1;
              transform: scale(1);
              /* filter: brightness(1) saturate(1); */
          }
      }

      li {
          list-style: none;
          padding: 0 30px;
          background-image: url(media/small.png);
          background-image: image-set(url("media/small.webp") type("image/webp"), url("media/small.png") type("image/png"));
          background-repeat: no-repeat;
          background-position: 5px -1px;
          background-size: 27px;
      }

      :root:active-view-transition #frameholder {
          scrollbar-color: transparent transparent;
      }

      @supports (corner-shape: scoop) and (anchor-name: initial) {
          #frameholder {
              corner-top-shape: notch;
              transition: scrollbar-color .1s ease-out, border-top-left-radius .3s linear, border-top-right-radius .3s linear;
          }

          :root:active-view-transition #frameholder {
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
          }
      }

      .inline-list li {
          display: inline;
          display: contents;
          padding: revert;
          background: none;
      }

      .inline-list {
          padding: 0
      }

      /* 
      li:nth-child(even)::marker {
          color: var(--_DEEP-AQUA);
      } */

      #poster {
          cursor: pointer;
      }

      #poster.animate {
          animation: dustSwap 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }

      @keyframes dustSwap {
          0% {
              opacity: 1;
              transform: scale(1) rotateY(0deg);
              filter: blur(0px);
          }

          50% {
              opacity: 0.4;
              transform: scale(0.9) rotateY(90deg);
              filter: blur(8px);
          }

          100% {
              opacity: 1;
              transform: scale(1) rotateY(0deg);
              filter: blur(0px);
          }
      }

      .other {
          margin: 5px;
          /* width:inherit; */
          /* height: 60px; */
          display: inline-block;
          place-content: center;
          place-items: center;
          /* border: 1px solid red; */
      }

      .pixel {
          image-rendering: pixelated;
      }

      body {
          height: 100vh;
          /* overflow-x: hidden; */
          /* overflow-y: auto; */
          /* display: flex; */
          width: 100%;
      }

      @keyframes slideshow {
          0% {
              background-position-x: 0%;
          }

          100% {
              background-position-x: -896px
          }
      }

      #frameholder {
          /* margin-top: 5px;	 */
          max-height: 80vh;
          scroll-behavior: smooth;
          /* min-height: 700px;	 */
          anchor-name: --corners;
          /* overflow: hidden;	 */
      }

      @keyframes spin {
          0% {
              transform: rotate(0deg)
          }

          100% {
              transform: rotate(360deg)
          }
      }

      input[type="text"],
      input[type="email"],
      textarea {
          width: 100%;
          background-color: var(--_WHITE-1);
          border: 3px inset var(--_WHITE-2);
          font-family: pixel1, monospace;
          font-size: 1em;
          padding: 4px 6px;
          color: black;
          caret-shape: block;
          caret-color: black;
          accent-color: var(--_WHITE-3);
      }

      .textform {
          display: inline-grid;
          gap: 8px;
          margin-block: 15px;
          padding: 12px;
          /* background-color: rgba(173, 173, 173, 0.96); */
          border: 5px groove var(--_WHITE-3);
      }

      input::placeholder,
      textarea::placeholder {
          color: var(--_BLUE-4);
          opacity: 0.7;
      }

      #fallbackstuff {
          display: none;
          anchor-name: --corners-bottom;
      }

      hr,
      .topic:not(.active),
      #fallback,
      .badbrowser {
          display: none;
      }

      .topic {
          width: 100%;
          font-size: larger;
          /* width: -webkit-fill-available; */
          place-content: center;
          place-self: center;
          align-content: start;
      }

      hr {
          border-style: double !important;
      }

      @media (prefers-reduced-motion: reduce) {
          #background>* {
              visibility: hidden;
          }
      }